## 1 - Carrega Bibliotecas

In [60]:
import requests as req
import json
import pandas as pd
import os.path
import math

Cria rotulos para os produtos

Atributos:

- id: Identificação da transação realizada.
- time: data da transação (Unix Timestamp).
- prod_1 – prod_7: quantidade de produtos comprados (em unidades).
- prod_8 – prod_20: quantidade de produtos comprados (em kg).

In [61]:
# Rotulo de Produtos e Preços 
PRODUTOS_LABEL = [["prod_0","Banana","unidade",0.2],
 ["prod_1","Maça","unidade",0.5],
 ["prod_2","Mamão","unidade",3],
 ["prod_3","Ovo","unidade",0.6],
 ["prod_4","Graviola","unidade",8],
 ["prod_5","Atemoia","unidade",5],
 ["prod_6","","unidade",10],
 ["prod_7","","unidade",10], 
 ["prod_8","Arroz","quilograma",4.5],
 ["prod_9","Milho","quilograma",3.5],
 ["prod_10","Soja","quilograma",5],
 ["prod_11","Farinha","quilograma",4],
 ["prod_12","Feijão","quilograma",8],
 ["prod_13","Feijão","quilograma",8],
 ["prod_14","Feijão","quilograma",8],
 ["prod_15","Feijão","quilograma",8],
 ["prod_16","Feijão","quilograma",8],
 ["prod_17","Feijão","quilograma",8],
 ["prod_18","Feijão","quilograma",8],
 ["prod_19","Feijão","quilograma",8],
 ["prod_20","Feijão","quilograma",8]]

df_produtos = pd.DataFrame(PRODUTOS_LABEL, columns=['id','name','medida','preco'])
df_produtos

         id      name      medida  preco
0    prod_0    Banana     unidade    0.2
1    prod_1      Maça     unidade    0.5
2    prod_2     Mamão     unidade    3.0
3    prod_3       Ovo     unidade    0.6
4    prod_4  Graviola     unidade    8.0
5    prod_5   Atemoia     unidade    5.0
6    prod_6               unidade   10.0
7    prod_7               unidade   10.0
8    prod_8     Arroz  quilograma    4.5
9    prod_9     Milho  quilograma    3.5
10  prod_10      Soja  quilograma    5.0
11  prod_11   Farinha  quilograma    4.0
12  prod_12    Feijão  quilograma    8.0
13  prod_13    Feijão  quilograma    8.0
14  prod_14    Feijão  quilograma    8.0
15  prod_15    Feijão  quilograma    8.0
16  prod_16    Feijão  quilograma    8.0
17  prod_17    Feijão  quilograma    8.0
18  prod_18    Feijão  quilograma    8.0
19  prod_19    Feijão  quilograma    8.0
20  prod_20    Feijão  quilograma    8.0

In [62]:
colunas = ['id',
 'date',
 'prod_0',
 'prod_1',
 'prod_2',
 'prod_3',
 'prod_4',
 'prod_5',
 'prod_6',
 'prod_7',
 'prod_8',
 'prod_9',
 'prod_10',
 'prod_11',
 'prod_12',
 'prod_13',
 'prod_14',
 'prod_15',
 'prod_16',
 'prod_17',
 'prod_18',
 'prod_19',
 'prod_20']
df_base_vazio = pd.DataFrame([], columns=colunas)
df_base_vazio

Empty DataFrame
Columns: [id, date, prod_0, prod_1, prod_2, prod_3, prod_4, prod_5, prod_6, prod_7, prod_8, prod_9, prod_10, prod_11, prod_12, prod_13, prod_14, prod_15, prod_16, prod_17, prod_18, prod_19, prod_20]
Index: []

[0 rows x 23 columns]

## Importa Dados

In [65]:
# Criando Base / Carregando Base
# for i in range(2,51):
#     res = req.get('http://localhost:3000/api/ep1').json()
#     json_object = json.dumps(res, indent = 4)
#     numero = "000" + str(i)
#     with open(f"bases/consulta_{numero[-3:]}.json", "w") as outfile: 
#         outfile.write(json_object)

In [66]:
# Lendo Base
with open('consulta_000.json', 'r') as openfile:   
    json_object = json.load(openfile) 
print(json_object) 
print(type(json_object))

[{'id': 'lace27ntqzlp32vyzrk', 'date': 1578547770.1636715, 'prod_1': 29.218282816763285, 'prod_3': 25.40079982312432, 'prod_6': 0.8740541176762151, 'prod_7': 16.512186927196037, 'prod_9': 173.37351320146547, 'prod_11': 291.936443975424}, {'id': 'lace27nt65ql73gedix', 'date': 1578512635.560789, 'prod_4': 48.25150026716691, 'prod_6': 12.73552772441513, 'prod_9': -70.79219350401206, 'prod_10': 65.15060564522577}, {'id': 'lace27ntoj4f3svkdag', 'date': 1578538799.565093, 'prod_1': 5.350121864730206, 'prod_2': 1.6368931984275248, 'prod_3': 22.305413596367973, 'prod_7': 9.699588829870287}, {'id': 'lace27nthfj67ndm9n', 'date': 1578538845.0932875, 'prod_1': 18.142417415252577, 'prod_2': 30.747049678713402, 'prod_3': 46.29809266730106, 'prod_4': 10.010117033678279, 'prod_5': 16.412307325586195, 'prod_6': 0.10823892065857654, 'prod_7': 14.613255678049153, 'prod_9': 25.50775104704347, 'prod_10': -43.38994088755675}, {'id': 'lace27ntjsnrwn196t', 'date': 1578523547.170125, 'prod_2': 28.441335900679732}, {'id': 'lace27nt49iy2qt1qzk', 'date': 1578547005.9120228, 'prod_0': 29.008896304275456, 'prod_3': 7.61961143408818, 'prod_4': 49.65401128050969, 'prod_5': 11.677238810673806, 'prod_6': 12.763329040569616, 'prod_8': -119.1856980236048, 'prod_9': 56.67112998588948, 'prod_10': 244.11377286479615}, {'id': 'lace27ntjutpdr9sl9q', 'date': 1578557599.912277, 'prod_0': 38.89158993208878, 'prod_1': 40.2025246417472, 'prod_4': 42.41218144848574, 'prod_6': 15.47169505406998, 'prod_8': -21.801390391627706, 'prod_9': -39.36076244785011}, {'id': 'lace27ntzqfk5xkst6b', 'date': 1578517995.0664806, 'prod_1': 47.08540671760792, 'prod_2': 4.796943913519581, 'prod_3': 13.18320738236669, 'prod_9': 325.4431951066194, 'prod_8': 351.93927049930215, 'prod_11': -81.69338934426315}, {'id': 'lace27ntm9abdx3zcy', 'date': 1578548038.455601, 'prod_1': 32.65934634178438, 'prod_2': 33.7569446478476, 'prod_4': 30.044623741334632, 'prod_7': 11.677007185277866, 'prod_9': -158.17172896377255, 'prod_8': 334.20445592315883, 'prod_10': -155.4375101210465, 'prod_11': 400.4029425451152}, {'id': 'lace27ntqphhttuxsdk', 'date': 1578528982.7563648, 'prod_0': 25.20571324940316, 'prod_2': 30.854608233966296, 'prod_7': 41.25104780087435, 'prod_8': 204.6509048642754, 'prod_10': -220.44174187922732, 'prod_11': 91.49280979249477}, {'id': 'lace27nt0d1n52av5n2e', 'date': 1578517858.2751088, 'prod_1': 25.733121872714506, 'prod_2': 16.92745558169729, 'prod_6': 44.06003004898258, 'prod_10': 5.824201576023427}, {'id': 'lace27nt919gzpj1htt', 'date': 1578557285.296519, 'prod_1': 0.5947690700311536, 'prod_2': 29.419681643667804, 'prod_3': 34.00559478559945, 'prod_6': 19.556003073320493, 'prod_8': 12.238806267609338, 'prod_9': 4.5410580889857215}, {'id': 'lace27nto6t2uwpyo4l', 'date': 1578534590.0025122, 'prod_1': 6.4028950307336014, 'prod_2': 34.032171321025004, 'prod_3': 42.46276232239953, 'prod_4': 40.21969585803843, 'prod_5': 28.37299247452321, 'prod_8': 282.1161010627938, 'prod_9': 7.548555471236639, 'prod_10': 257.125103577683, 'prod_11': 417.1920813825963}, {'id': 'lace27nteum83882qab', 'date': 1578555762.058481, 'prod_2': 38.10802807403132, 'prod_3': 21.986161597380903, 'prod_5': 26.706740184639187, 'prod_7': 0.573204940743588, 'prod_8': 280.11092390269414, 'prod_10': 3.073182692843716}, {'id': 'lace27ntk2nfae3dcks', 'date': 1578533383.4807448, 'prod_0': 26.581153741114072, 'prod_2': 7.692538352264588, 'prod_5': 21.888593355093022, 'prod_6': 13.151427581941599, 'prod_8': -250.39500275476905, 'prod_9': 242.15041722454202}, {'id': 'lace27ntlqhki4vn6c', 'date': 1578524638.1979134, 'prod_0': 28.351705639767864, 'prod_1': 10.23967648941423, 'prod_2': 49.75956396415479, 'prod_4': 0.8464070155637216, 'prod_7': 4.502192427609386, 'prod_8': 493.61361880017125, 'prod_9': -246.09332652469865}, {'id': 'lace27ntzhilelamgq', 'date': 1578528591.4713235, 'prod_0': 8.535279038447785, 'prod_3': 7.173180008060321, 'prod_4': 49.73491948987321, 'prod_5': 44.45163152605785, 'prod_6': 25.323462810314012, 'prod_10': 446.7100897848598, 'prod_11': 257.38437601268384}, {'id': 'lace27nuu7t0wlda0x', 'date': 1578556739.334605, 'prod_0': 35.550315117218126, 'prod_2': 38.506814778550606, 'prod_4': 1.822178036376021, 'prod_5': 13.932409566242166, 'prod_6': 33.07666667177623, 'prod_9': 368.4798561598116, 'prod_10': 107.09896973973463}, {'id': 'lace27nurz41b585zxg', 'date': 1578528664.566682, 'prod_0': 16.12873820968208, 'prod_2': 20.770477298623735, 'prod_3': 3.495427646991889, 'prod_4': 41.290715392332714, 'prod_5': 19.22443498355044, 'prod_8': 252.12489861452843, 'prod_9': -93.7159053620573}, {'id': 'lace27nuvsriw8if319', 'date': 1578540945.0235438, 'prod_0': 23.41901558639131, 'prod_2': 6.7753892932057465, 'prod_4': 22.290954060833247, 'prod_6': 2.1230443483560624, 'prod_8': -109.18116430280796, 'prod_9': 264.6854876682169, 'prod_11': -139.55739514581762}, {'id': 'lace27nu4nr6zbr2m0r', 'date': 1578523840.5785522, 'prod_2': 22.158906918946276, 'prod_4': 36.02983604776207, 'prod_5': 15.460627937313154, 'prod_8': 40.80119847387458, 'prod_9': 11.885708072448775, 'prod_11': -63.09603297622766}, {'id': 'lace27nu8oubw8yhx8v', 'date': 1578533631.8596134, 'prod_0': 49.3282189610083, 'prod_1': 9.28016304855721, 'prod_2': 24.234154234410067, 'prod_3': 2.603906629019226, 'prod_5': 37.50846500671726, 'prod_9': 445.29494903068706}, {'id': 'lace27nu2r56h4she0c', 'date': 1578517980.489767, 'prod_0': 27.089439937284475, 'prod_4': 16.44094900552747, 'prod_6': 10.26569372263203, 'prod_7': 16.415425305488675, 'prod_8': -167.65578769141194, 'prod_10': 304.42727907851736, 'prod_11': -157.36665905246582}, {'id': 'lace27nuny6zvr616lg', 'date': 1578524856.9642296, 'prod_0': 3.276681929301073, 'prod_1': 16.729052952598778, 'prod_2': 1.3022543931838992, 'prod_4': 25.286132273155314, 'prod_5': 24.595348078067182, 'prod_9': 3.104982192032568}, {'id': 'lace27nu3dkao25ej46', 'date': 1578511009.2381868, 'prod_0': 36.69698770929204, 'prod_1': 44.452636181781955, 'prod_3': 26.292361230169504, 'prod_8': 47.389817982458545}, {'id': 'lace27nufgcc1fkgwl', 'date': 1578518489.894118, 'prod_0': 45.589373832731894, 'prod_4': 31.625267723772144, 'prod_8': 23.29460952924022, 'prod_10': 311.1192669619298}, {'id': 'lace27numbssywur9on', 'date': 1578528029.9438798, 'prod_0': 13.914461670627531, 'prod_3': 40.121955071551795, 'prod_4': 0.5624697057547201, 'prod_5': 2.114673198886341, 'prod_7': 15.966044355217058, 'prod_8': 202.17030878534007, 'prod_9': 31.76250365818454, 'prod_11': 38.21408093036382}, {'id': 'lace27nut4g5gxdfile', 'date': 1578542335.533308, 'prod_1': 38.190478873989434, 'prod_3': 46.55364271753918, 'prod_8': 8.3260864356821, 'prod_9': 258.44874134977675, 'prod_11': 246.38428314432468}]
<class 'list'>

In [67]:
df_new = pd.DataFrame(json_object)
df_new.head()

,id,date,prod_1,prod_3,prod_6,prod_7,prod_9,prod_11,prod_4,prod_10,prod_2,prod_5,prod_0,prod_8
0,lace27ntqzlp32vyzrk,1.578548e+09,29.218283,25.400800,0.874054,16.512187,173.373513,291.936444,NaN,NaN,NaN,NaN,NaN,NaN
1,lace27nt65ql73gedix,1.578513e+09,NaN,NaN,12.735528,NaN,-70.792194,NaN,48.251500,65.150606,NaN,NaN,NaN,NaN
2,lace27ntoj4f3svkdag,1.578539e+09,5.350122,22.305414,NaN,9.699589,NaN,NaN,NaN,NaN,1.636893,NaN,NaN,NaN
3,lace27nthfj67ndm9n,1.578539e+09,18.142417,46.298093,0.108239,14.613256,25.507751,NaN,10.010117,-43.389941,30.747050,16.412307,NaN,NaN
4,lace27ntjsnrwn196t,1.578524e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.441336,NaN,NaN,NaN

In [68]:
df_new.shape[0]

28

In [69]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       28 non-null     object
 1   date     28 non-null     float64
 2   prod_1   14 non-null     float64
 3   prod_3   14 non-null     float64
 4   prod_6   12 non-null     float64
 5   prod_7   9 non-null      float64
 6   prod_9   19 non-null     float64
 7   prod_11  11 non-null     float64
 8   prod_4   16 non-null     float64
 9   prod_10  12 non-null     float64
 10  prod_2   18 non-null     float64
 11  prod_5   12 non-null     float64
 12  prod_0   15 non-null     float64
 13  prod_8   18 non-null     float64
dtypes: float64(13), object(1)
memory usage: 3.2+ KB

In [70]:
# TRABALHANDO COM DATA - MODELO
# df_geral['date'].iloc[0].astype('dat')
# pd.to_datetime(1579157915.5357018, unit="s")
# df_geral['data'] = pd.to_datetime(df_geral['date'], unit="s")

________
## all_sales.csv – Base de dados com todas as transações realizadas.

ARQUIVO RAW

In [105]:
# Cria/Carrega Arquivo RAW
if os.path.isfile('all_sales_raw.csv'):
  df_raw = pd.read_csv('all_sales_raw.csv', sep=",")
else: 
  df_raw = pd.read_csv('https://raw.githubusercontent.com/aluipio/ada_tp_i_projeto/all_sales/Dados/all_sales.csv', sep=",")
  df_raw.to_csv('all_sales_raw.csv',sep=",")

In [106]:
# Cria Arquivo RAW
# bases = []
# if os.path.isfile('all_sales_raw.csv'):
#   df_all_sales_raw = pd.read_csv('all_sales_raw.csv', sep=",")
#   # bases.append(df_raw)

# Insere nova base
# bases.append(df_new)

# Salva RAW
# df_raw_save = pd.concat(bases, ignore_index=True)
# df_raw_save.to_csv("all_sales_raw.csv",sep=";", index=False)
# df_raw_save.shape, df_new.shape

In [107]:
df_all_sales_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2533 entries, 0 to 2532
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2533 non-null   int64
 1   Unnamed: 0.1  2533 non-null   int64
 2   id            2533 non-null   object
 3   date          2533 non-null   object
 4   n_week        2533 non-null   int64
 5   week_year     2533 non-null   object
 6   month_year    2533 non-null   object
 7   prod_0        2533 non-null   float64
 8   prod_1        2533 non-null   float64
 9   prod_2        2533 non-null   float64
 10  prod_3        2533 non-null   float64
 11  prod_4        2533 non-null   float64
 12  prod_5        2533 non-null   float64
 13  prod_6        2533 non-null   float64
 14  prod_7        2533 non-null   float64
 15  prod_8        2533 non-null   float64
 16  prod_9        2533 non-null   float64
 17  prod_10       2533 non-null   float64
 18  prod_11       2533 non-null   float64
 19  prod_12       2533 non-null   int64
 20  prod_13       2533 non-null   int64
 21  prod_14       2533 non-null   int64
 22  prod_15       2533 non-null   float64
dtypes: float64(13), int64(6), object(4)
memory usage: 455.3+ KB

In [108]:
df_all_sales_raw.head()

,Unnamed: 0,Unnamed: 0.1,id,date,n_week,week_year,month_year,prod_0,prod_1,prod_2,...,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15
0,0,0,la8enspmsjmjm3mtnks,2020-01-08 22:50:29.272764444,1,01-2020,01-2020,0.000000,0.000000,12.382453,...,0.000000,0.000000,-272.005239,0.000000,-63.883391,-91.845035,0,0,0,0.0
1,1,1,la8enspmjzw9gwlzh8q,2020-01-09 07:08:55.437592745,1,01-2020,01-2020,25.094403,41.424664,46.041098,...,0.000000,43.026049,-154.069877,0.000000,428.926047,-291.534773,0,0,0,0.0
2,2,2,la8enspm395of281dc8,2020-01-09 05:18:21.570819139,1,01-2020,01-2020,0.000000,0.000000,12.952450,...,46.127666,33.732584,0.000000,48.869671,0.000000,-186.298916,0,0,0,0.0
3,3,3,la8enspmqwjb0bupqaf,2020-01-09 05:10:25.107415915,1,01-2020,01-2020,0.000000,18.656836,20.193478,...,49.995167,0.000000,98.045802,41.280380,138.884172,494.711405,0,0,0,0.0
4,4,4,la8enspmr3909ma07tj,2020-01-09 01:25:00.460614443,1,01-2020,01-2020,0.000000,24.258810,32.458601,...,29.337513,9.651117,53.848050,366.370371,361.154567,-150.020051,0,0,0,0.0

ARQUIVO TRUSTED

In [109]:
df_all_sales_trusted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2533 entries, 0 to 2532
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2533 non-null   int64
 1   Unnamed: 0.1  2533 non-null   int64
 2   id            2533 non-null   object
 3   date          2533 non-null   datetime64[ns]
 4   n_week        2533 non-null   int64
 5   week_year     2533 non-null   object
 6   month_year    2533 non-null   object
 7   prod_0        2533 non-null   float64
 8   prod_1        2533 non-null   float64
 9   prod_2        2533 non-null   float64
 10  prod_3        2533 non-null   float64
 11  prod_4        2533 non-null   float64
 12  prod_5        2533 non-null   float64
 13  prod_6        2533 non-null   float64
 14  prod_7        2533 non-null   float64
 15  prod_8        2533 non-null   float64
 16  prod_9        2533 non-null   float64
 17  prod_10       2533 non-null   float64
 18  prod_11       2533 non-null   float64
 19  prod_12       2533 non-null   int64
 20  prod_13       2533 non-null   int64
 21  prod_14       2533 non-null   int64
 22  prod_15       2533 non-null   float64
dtypes: datetime64[ns](1), float64(13), int64(6), object(3)
memory usage: 455.3+ KB

In [110]:
df_all_sales_trusted = df_all_sales_raw.copy()
df_all_sales_trusted['date'] = df_all_sales_trusted['date'].astype('datetime64[ns]')

def verifica(x):
  if (x < 0):
    return 0
  else:
    return x

# Ajusta valores
for coluna in df_all_sales_trusted.columns:
  if coluna[:4] == 'prod':
    df_all_sales_trusted[coluna] = df_all_sales_trusted[coluna].map(verifica)

# df_all_sales_trusted[df_all_sales_trusted < 0]

df_all_sales_trusted.to_csv('all_sales_trusted.csv',sep=",")
df_all_sales_trusted.head()

,Unnamed: 0,Unnamed: 0.1,id,date,n_week,week_year,month_year,prod_0,prod_1,prod_2,...,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15
0,0,0,la8enspmsjmjm3mtnks,2020-01-08 22:50:29.272764444,1,01-2020,01-2020,0.000000,0.000000,12.382453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0.0
1,1,1,la8enspmjzw9gwlzh8q,2020-01-09 07:08:55.437592745,1,01-2020,01-2020,25.094403,41.424664,46.041098,...,0.000000,43.026049,0.000000,0.000000,428.926047,0.000000,0,0,0,0.0
2,2,2,la8enspm395of281dc8,2020-01-09 05:18:21.570819139,1,01-2020,01-2020,0.000000,0.000000,12.952450,...,46.127666,33.732584,0.000000,48.869671,0.000000,0.000000,0,0,0,0.0
3,3,3,la8enspmqwjb0bupqaf,2020-01-09 05:10:25.107415915,1,01-2020,01-2020,0.000000,18.656836,20.193478,...,49.995167,0.000000,98.045802,41.280380,138.884172,494.711405,0,0,0,0.0
4,4,4,la8enspmr3909ma07tj,2020-01-09 01:25:00.460614443,1,01-2020,01-2020,0.000000,24.258810,32.458601,...,29.337513,9.651117,53.848050,366.370371,361.154567,0.000000,0,0,0,0.0

In [111]:
# # Carrega Arquivo
# if os.path.isfile('all_sales_trusted.csv'):
#   df_trusted_all = pd.read_csv('all_sales_trusted.csv', sep=",")
#   semana = max(df_trusted_all['id_semana']) + 1
# else:
#   df_all_sales_raw
#   semana = 0

# # Estruturando Dados
# colunas = list(df_new.columns)
# colunas.remove('id')
# colunas.remove('date')

# lista_dfs = []

# for coluna in colunas:
#     df_temp = df_new.loc[:,['id','date',coluna]]
#     df_temp['produto'] = coluna
#     df_temp.columns = ['id','date','quantidade','produto']
#     lista_dfs.append(df_temp)

# # Compacta arquivos semana
# df_trusted_week = pd.concat(lista_dfs, ignore_index=True)
# df_trusted_week['id_semana'] = semana

# # Verificando existência
# if os.path.isfile('all_sales_trusted.csv'):
#   df_trusted_all = pd.concat([df_trusted_all,df_trusted_week], ignore_index=True)
# else:
#   df_trusted_all = df_trusted_week

# # Salva TRUSTED
# df_trusted_all.to_csv("all_sales_trusted.csv",sep=";", index=False)
# df_trusted_all.shape, df_trusted_week.shape

In [112]:
# df_trusted_all.head()

ARQUIVO REFINED

In [113]:
df_all_sales_refined = df_all_sales_trusted.copy()
df_all_sales_refined = df_all_sales_trusted.copy()
df_all_sales_refined.to_csv('all_sales_refined.csv',sep=",")

In [114]:
# # Criar Arquivo REFINED
# df_refined_week = df_trusted_week.copy()
# df_refined_week['data_transacao'] = pd.to_datetime(df_refined_week['date'], unit="s")
# df_refined_week['mes'] = df_refined_week['data_transacao'].dt.month

# # Carrega Arquivo e Salva TRUSTED
# if os.path.isfile('all_sales_refined.csv'):
#   df_refined_all = pd.read_csv('all_sales_refined.csv', sep=";")
#   df_refined_all = pd.concat([df_refined_all,df_refined_week], ignore_index=True)
# else:
#   df_refined_all = df_refined_week

# # Salva RAW
# df_refined_all.to_csv("all_sales_refined.csv",sep=";", index=False)
# df_refined_all.shape, df_refined_week.shape

In [115]:
# df_refined_all.head()

_______
## - monthly_sales.csv – Base de dados com o consolidado total de transações dentro de um mês.

In [116]:
df_all_sales_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2533 entries, 0 to 2532
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2533 non-null   int64
 1   Unnamed: 0.1  2533 non-null   int64
 2   id            2533 non-null   object
 3   date          2533 non-null   datetime64[ns]
 4   n_week        2533 non-null   int64
 5   week_year     2533 non-null   object
 6   month_year    2533 non-null   object
 7   prod_0        2533 non-null   float64
 8   prod_1        2533 non-null   float64
 9   prod_2        2533 non-null   float64
 10  prod_3        2533 non-null   float64
 11  prod_4        2533 non-null   float64
 12  prod_5        2533 non-null   float64
 13  prod_6        2533 non-null   float64
 14  prod_7        2533 non-null   float64
 15  prod_8        2533 non-null   float64
 16  prod_9        2533 non-null   float64
 17  prod_10       2533 non-null   float64
 18  prod_11       2533 non-null   float64
 19  prod_12       2533 non-null   int64
 20  prod_13       2533 non-null   int64
 21  prod_14       2533 non-null   int64
 22  prod_15       2533 non-null   float64
dtypes: datetime64[ns](1), float64(13), int64(6), object(3)
memory usage: 455.3+ KB

In [131]:
volume_mes = df_all_sales_refined.groupby('month_year').agg('sum').iloc[:,3:]
volume_mes.to_csv('monthly_sales.csv',sep=",")
volume_mes.to_csv('monthly_sales_volume_produto.csv',sep=",")

In [130]:
quantidade_mes = df_all_sales_refined.groupby('month_year').agg('size').to_frame()
quantidade_mes.to_csv('monthly_sales_qtd_transacoes.csv',sep=",")

In [ ]:
# # Cria/Carrega Arquivo RAW
# if os.path.isfile('monthly_sales.csv'):
#   df_raw = pd.read_csv('monthly_sales.csv', sep=",")
# else: 
#   df_raw = pd.read_csv('https://raw.githubusercontent.com/aluipio/ada_tp_i_projeto/all_sales/Dados/all_sales.csv', sep=",")
#   df_raw.to_csv('all_sales_raw.csv',sep=",")

In [ ]:
# df_refined_all.head(1)

,id,date,quantidade,produto,id_semana,data_transacao,mes
0,la300efs6jkrkctgeyf,1.579158e+09,39.229208,prod_5,0,2020-01-16 06:58:35.535701760,1

In [ ]:
# # Consultas
# df_mes_transacoes_qtd = df_refined_all.groupby(['mes','produto']).count()['quantidade'].to_frame()
# df_mes_transacoes_volume = df_refined_all.groupby(['mes','produto']).sum()['quantidade'].to_frame()
# df_mes_transacoes_volume.rename(columns={"quantidade": "volume"}, inplace=True)

# # Mesclando consultas
# df_monthly_sales = df_mes_transacoes_qtd.merge(df_mes_transacoes_volume, left_index=True, right_index=True,  how='outer')

# # Salva TRUSTED
# df_monthly_sales.to_csv("monthly_sales.csv",sep=";")
# df_monthly_sales

_______
## - weekly_price.csv – Base de dados contendo o preço semanal dos produtos, em R$.

In [143]:
# Copiando Base
df_weekly_price = pd.read_csv('weekly_price.csv', sep=",", index_col='n_week')
df_weekly_price

,prod_0,prod_1,prod_2,prod_3,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15
n_week,,,,,,,,,,,,,,,,
1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000
2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000
3,1.245268,0.991746,1.173973,1.036699,0.991820,0.985826,0.946050,0.978301,1.409488,0.998648,1.246115,1.088212,1.0,1.0,1.0,1.000000
4,1.145343,0.976626,1.220264,0.964519,0.996222,0.927119,1.238252,0.999084,1.595870,1.319910,1.316234,1.554825,1.0,1.0,1.0,1.000000
5,1.243181,1.025490,1.050640,0.950434,1.058178,0.969606,1.229226,0.966516,1.774519,1.213220,1.230401,1.352826,1.0,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,21.793510,39.113402,62.606744,15.399697,22.516149,65.387375,70.240063,36.487363,1202.907578,2701.846105,2450.969013,3016.704972,1.0,1.0,1.0,10.537146
145,18.945265,35.740518,70.782641,14.768798,21.891343,57.190800,62.867329,32.000622,1166.085338,2333.364962,2036.633663,2562.894786,1.0,1.0,1.0,10.820156
146,19.123134,49.871309,82.123061,11.644274,18.102035,82.714766,58.046361,42.294613,901.534385,2925.477596,2468.508220,2562.894786,1.0,1.0,1.0,10.667355
147,23.673311,41.537988,68.414127,17.466404,26.999315,67.858009,79.868393,47.117483,1352.301577,2873.089125,2937.770311,3844.342179,1.0,1.0,1.0,11.459696
148,21.838441,52.948329,94.765204,16.965203,27.931955,77.043557,77.217332,48.327190,1585.651278,3151.614922,3260.682293,4298.526702,1.0,1.0,1.0,11.541796

## - monthly_revenue.csv – Base de dados contendo o total de vendas mensal, em R$.

In [176]:
# Total de vendes por semana
sum_weekly = df_all_sales_refined.groupby('n_week').agg('sum').iloc[:,2:]
sum_weekly

,prod_0,prod_1,prod_2,prod_3,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15
n_week,,,,,,,,,,,,,,,,
1,214.336193,316.898594,279.066294,308.679342,309.743476,339.256595,209.385175,348.213384,1181.009317,3078.285764,2824.456130,2390.114035,0,0,0,0.000000
2,286.788611,200.079354,310.331684,231.566510,194.027081,210.697648,107.201732,208.046381,2553.969530,2001.839511,3837.565295,2120.016991,0,0,0,0.000000
3,264.537539,253.514821,490.153702,227.897501,269.609081,218.543774,353.102855,301.705262,5327.529174,6846.456539,6365.584159,10234.582082,0,0,0,0.000000
4,524.120762,450.920287,311.409846,315.274570,494.709543,379.711858,508.423090,392.716867,11462.713940,6819.572196,6941.380569,7082.659847,0,0,0,0.000000
5,72.850054,71.545188,78.763199,164.394518,84.301301,173.148190,61.585308,89.411650,1114.683726,701.156308,792.872568,559.214527,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,72.586260,86.216430,139.522668,135.698046,80.196338,87.227623,143.071781,50.347898,3629.208825,1801.989716,1107.462247,2020.916687,0,0,0,15571.054912
145,17.380481,62.521710,54.407109,3.215635,5.656943,76.183332,22.478355,28.252166,17.751155,881.074246,486.953683,0.000000,0,0,0,3390.288271
146,176.566062,95.489238,84.388682,232.634360,149.692433,93.951361,332.209684,209.396034,3423.164702,4089.676561,4384.005899,3877.519256,0,0,0,22025.409538
147,112.227180,198.274672,234.358816,195.740209,156.000633,140.077879,268.625606,216.792292,5494.601147,5316.145837,5920.602455,5362.213082,0,0,0,21146.193295
148,92.958250,87.250124,47.004139,86.925291,89.623508,52.721249,52.315197,120.722312,2749.409331,1629.186074,1643.803410,1474.665369,0,0,0,12181.422619

In [178]:
# Copiando Base
price_weekly = pd.read_csv('weekly_price.csv', sep=",", index_col='n_week')
price_weekly

,prod_0,prod_1,prod_2,prod_3,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15
n_week,,,,,,,,,,,,,,,,
1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000
2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000
3,1.245268,0.991746,1.173973,1.036699,0.991820,0.985826,0.946050,0.978301,1.409488,0.998648,1.246115,1.088212,1.0,1.0,1.0,1.000000
4,1.145343,0.976626,1.220264,0.964519,0.996222,0.927119,1.238252,0.999084,1.595870,1.319910,1.316234,1.554825,1.0,1.0,1.0,1.000000
5,1.243181,1.025490,1.050640,0.950434,1.058178,0.969606,1.229226,0.966516,1.774519,1.213220,1.230401,1.352826,1.0,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,21.793510,39.113402,62.606744,15.399697,22.516149,65.387375,70.240063,36.487363,1202.907578,2701.846105,2450.969013,3016.704972,1.0,1.0,1.0,10.537146
145,18.945265,35.740518,70.782641,14.768798,21.891343,57.190800,62.867329,32.000622,1166.085338,2333.364962,2036.633663,2562.894786,1.0,1.0,1.0,10.820156
146,19.123134,49.871309,82.123061,11.644274,18.102035,82.714766,58.046361,42.294613,901.534385,2925.477596,2468.508220,2562.894786,1.0,1.0,1.0,10.667355
147,23.673311,41.537988,68.414127,17.466404,26.999315,67.858009,79.868393,47.117483,1352.301577,2873.089125,2937.770311,3844.342179,1.0,1.0,1.0,11.459696
148,21.838441,52.948329,94.765204,16.965203,27.931955,77.043557,77.217332,48.327190,1585.651278,3151.614922,3260.682293,4298.526702,1.0,1.0,1.0,11.541796

In [191]:
# Total por semana = Preco x Volume
df_monthly_revenue_week = (price_weekly * sum_weekly).round(2)
df_monthly_revenue_week['n_week'] = df_monthly_revenue_week.index
df_monthly_revenue_week.reset_index(drop=True, inplace=True)
df_monthly_revenue_week

,prod_0,prod_1,prod_2,prod_3,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15,n_week
0,214.34,316.90,279.07,308.68,309.74,339.26,209.39,348.21,1181.01,3078.29,2824.46,2390.11,0.0,0.0,0.0,0.00,1
1,286.79,200.08,310.33,231.57,194.03,210.70,107.20,208.05,2553.97,2001.84,3837.57,2120.02,0.0,0.0,0.0,0.00,2
2,329.42,251.42,575.43,236.26,267.40,215.45,334.05,295.16,7509.09,6837.20,7932.25,11137.40,0.0,0.0,0.0,0.00,3
3,600.30,440.38,380.00,304.09,492.84,352.04,629.56,392.36,18293.00,9001.22,9136.48,11012.29,0.0,0.0,0.0,0.00,4
4,90.57,73.37,82.75,156.25,89.21,167.89,75.70,86.42,1978.03,850.66,975.55,756.52,0.0,0.0,0.0,0.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,1581.91,3372.22,8735.06,2089.71,1805.71,5703.59,10049.37,1837.06,4365602.80,4868698.90,2714355.65,6096509.42,0.0,0.0,0.0,164074.47,144
144,329.28,2234.56,3851.08,47.49,123.84,4356.99,1413.15,904.09,20699.36,2055867.77,991746.26,0.00,0.0,0.0,0.0,36683.45,145
145,3376.50,4762.17,6930.26,2708.86,2709.74,7771.16,19283.56,8856.32,3086100.68,11964257.15,10821954.60,9937673.88,0.0,0.0,0.0,234952.86,146
146,2656.79,8235.93,16033.45,3418.88,4211.91,9505.41,21454.70,10214.71,7430357.80,15273760.79,17393370.11,20614181.93,0.0,0.0,0.0,242328.94,147
147,2030.06,4619.75,4454.36,1474.71,2503.36,4061.83,4039.64,5834.17,4359604.42,5134567.14,5359920.67,6338888.47,0.0,0.0,0.0,140595.49,148

In [192]:
df_data_weeks = df_all_sales_raw[['n_week','week_year','month_year']].drop_duplicates(subset='n_week', keep='first')
df_data_weeks.reset_index(drop=True, inplace=True)
df_data_weeks

     n_week week_year month_year
0         1   01-2020    01-2020
1         2   02-2020    01-2020
2         3   03-2020    01-2020
3         4   04-2020    01-2020
4         5   05-2020    02-2020
..      ...       ...        ...
143     144   40-2022    10-2022
144     145   41-2022    10-2022
145     146   42-2022    10-2022
146     147   43-2022    10-2022
147     148   44-2022    11-2022

[148 rows x 3 columns]

pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [201]:
# df_total_semana = pd.merge(df_monthly_revenue_week, df_data_weeks, how='outer', on='n_week')
# df1.merge(df2, how='outer')
# df_monthly_revenue_week['n_week'] = df_monthly_revenue_week.index
df_total_semana = df_monthly_revenue_week.merge(df_data_weeks, how='outer',on='n_week')
df_total_semana

,prod_0,prod_1,prod_2,prod_3,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15,n_week,week_year,month_year
0,214.34,316.90,279.07,308.68,309.74,339.26,209.39,348.21,1181.01,3078.29,2824.46,2390.11,0.0,0.0,0.0,0.00,1,01-2020,01-2020
1,286.79,200.08,310.33,231.57,194.03,210.70,107.20,208.05,2553.97,2001.84,3837.57,2120.02,0.0,0.0,0.0,0.00,2,02-2020,01-2020
2,329.42,251.42,575.43,236.26,267.40,215.45,334.05,295.16,7509.09,6837.20,7932.25,11137.40,0.0,0.0,0.0,0.00,3,03-2020,01-2020
3,600.30,440.38,380.00,304.09,492.84,352.04,629.56,392.36,18293.00,9001.22,9136.48,11012.29,0.0,0.0,0.0,0.00,4,04-2020,01-2020
4,90.57,73.37,82.75,156.25,89.21,167.89,75.70,86.42,1978.03,850.66,975.55,756.52,0.0,0.0,0.0,0.00,5,05-2020,02-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,1581.91,3372.22,8735.06,2089.71,1805.71,5703.59,10049.37,1837.06,4365602.80,4868698.90,2714355.65,6096509.42,0.0,0.0,0.0,164074.47,144,40-2022,10-2022
144,329.28,2234.56,3851.08,47.49,123.84,4356.99,1413.15,904.09,20699.36,2055867.77,991746.26,0.00,0.0,0.0,0.0,36683.45,145,41-2022,10-2022
145,3376.50,4762.17,6930.26,2708.86,2709.74,7771.16,19283.56,8856.32,3086100.68,11964257.15,10821954.60,9937673.88,0.0,0.0,0.0,234952.86,146,42-2022,10-2022
146,2656.79,8235.93,16033.45,3418.88,4211.91,9505.41,21454.70,10214.71,7430357.80,15273760.79,17393370.11,20614181.93,0.0,0.0,0.0,242328.94,147,43-2022,10-2022
147,2030.06,4619.75,4454.36,1474.71,2503.36,4061.83,4039.64,5834.17,4359604.42,5134567.14,5359920.67,6338888.47,0.0,0.0,0.0,140595.49,148,44-2022,11-2022

In [236]:
df_temp = df_total_semana.copy()
df_monthly_revenue = df_temp.groupby('month_year').agg('sum')
df_monthly_revenue.drop('n_week', axis=1, inplace=True)
df_monthly_revenue['Total'] = df_monthly_revenue.sum(axis = 1)
df_monthly_revenue = df_monthly_revenue.round(2)
df_monthly_revenue.to_csv('monthly_revenue.csv', sep=";")
df_monthly_revenue

,prod_0,prod_1,prod_2,prod_3,prod_4,prod_5,prod_6,prod_7,prod_8,prod_9,prod_10,prod_11,prod_12,prod_13,prod_14,prod_15,Total
month_year,,,,,,,,,,,,,,,,,
01-2020,1430.85,1208.78,1544.83,1080.60,1264.01,1117.45,1280.20,1243.78,29537.07,20918.55,23730.76,26659.82,0.0,0.0,0.0,0.00,1.110167e+05
01-2021,1371.59,959.38,1709.81,1416.85,1894.99,1344.02,1406.18,2085.40,181849.57,119164.23,58587.42,129590.71,0.0,0.0,0.0,344432.53,8.458127e+05
01-2022,10667.11,13119.74,14930.28,4886.66,6566.72,17387.69,11274.47,11584.22,2638915.55,4371424.60,3026223.46,5538453.17,0.0,0.0,0.0,905639.21,1.657107e+07
02-2020,1100.89,950.39,1030.11,695.89,1046.04,1197.86,901.26,927.56,31977.82,21146.66,22877.12,22113.37,0.0,0.0,0.0,47724.20,1.536892e+05
02-2021,4456.48,3976.64,4508.58,1986.31,3256.60,2017.13,5845.55,3919.81,221652.91,320791.57,239649.48,288093.70,0.0,0.0,0.0,464810.16,1.564965e+06
02-2022,6456.44,22648.76,8587.45,6295.02,3161.10,19520.19,9608.65,10315.45,3865214.70,4462543.76,2855197.50,6199553.37,0.0,0.0,0.0,337351.49,1.780645e+07
03-2020,1548.76,1407.66,1447.12,1386.69,1974.87,1302.78,1650.76,1432.48,55840.28,42122.86,31554.24,43833.70,0.0,0.0,0.0,92035.23,2.775374e+05
03-2021,4028.54,3293.12,5764.85,1694.28,2366.81,3361.38,6128.09,4083.12,220137.11,467020.42,320241.46,419579.65,0.0,0.0,0.0,215770.19,1.673469e+06
03-2022,12723.39,16915.47,29842.53,8243.79,9910.86,36318.22,26023.02,21323.85,8665176.66,5629287.29,5652708.48,9137615.92,0.0,0.0,0.0,447643.87,2.969373e+07
04-2020,1562.18,1831.77,1727.86,1216.86,1664.55,1165.12,1127.56,1226.73,36200.41,27163.98,22686.16,25836.41,0.0,0.0,0.0,72719.14,1.961287e+05
04-2021,5978.31,5378.12,7468.51,2289.75,5025.54,5568.58,7919.12,6396.92,299610.49,495574.17,398778.40,252648.25,0.0,0.0,0.0,144648.47,1.637285e+06
04-2022,10586.21,18080.96,19782.05,7667.40,6507.48,28420.93,26115.66,17378.28,5144634.62,8790220.06,4665338.94,13675754.56,0.0,0.0,0.0,561785.59,3.297227e+07
05-2020,1619.89,1214.70,1519.49,1388.10,929.53,825.66,1018.03,968.60,34490.00,39704.22,23218.91,34461.66,0.0,0.0,0.0,119581.05,2.609398e+05
05-2021,3746.33,4106.86,4628.64,1329.26,3815.34,4207.31,3978.29,4767.59,784100.57,737555.92,449624.26,793301.38,0.0,0.0,0.0,254309.75,3.049472e+06
05-2022,7743.83,7149.05,6422.29,2793.04,4788.62,16937.50,11901.63,8617.12,1604958.93,2555908.44,1172409.69,3835171.86,0.0,0.0,0.0,448518.98,9.683321e+06
06-2020,1262.06,1037.95,989.35,756.05,834.44,650.05,1251.46,911.96,44242.46,44333.53,39830.81,48107.39,0.0,0.0,0.0,107725.89,2.919334e+05
06-2021,5994.88,6786.10,5530.85,3619.29,5436.73,5241.59,7682.58,8485.89,966404.29,878064.00,940280.06,1160762.97,0.0,0.0,0.0,962982.45,4.957272e+06
06-2022,20274.17,54282.51,64747.90,12842.13,21752.96,56769.61,68003.51,34373.68,18215444.90,20067934.43,28191975.30,28955676.30,0.0,0.0,0.0,1804618.07,9.756870e+07
07-2020,2660.35,2376.76,2948.64,1849.79,2578.08,1763.25,2620.45,2125.38,119994.83,84048.75,63108.78,72631.41,0.0,0.0,0.0,237409.88,5.961163e+05
07-2021,5736.47,5371.40,4776.97,4565.02,4418.30,8692.40,7327.26,6035.80,1214371.95,1152888.34,854632.44,1333589.96,0.0,0.0,0.0,1057307.23,5.659714e+06
07-2022,20284.53,43652.93,50930.58,9384.14,17692.72,52852.37,54837.99,39338.10,14275942.48,17020607.96,27940374.80,28509741.95,0.0,0.0,0.0,1009871.60,8.904551e+07
08-2020,1663.50,1138.19,2145.18,949.80,1343.80,1382.25,1189.17,1265.63,65793.52,40007.63,28816.33,64716.83,0.0,0.0,0.0,154408.70,3.648205e+05
08-2021,3753.63,3158.65,3267.58,2799.01,4067.53,7529.54,5724.88,4282.30,782217.63,1167661.42,670303.56,1083950.02,0.0,0.0,0.0,503692.57,4.242408e+06
08-2022,18775.97,36863.12,57688.30,9548.17,17790.02,71961.57,68606.09,38323.82,17058288.64,46365963.15,29867334.13,36051369.20,0.0,0.0,0.0,700191.92,1.303627e+08
09-2020,1441.38,870.49,978.75,686.54,1092.39,788.72,1152.20,942.31,73426.36,36887.48,20502.29,39174.73,0.0,0.0,0.0,107915.75,2.858594e+05
09-2021,10150.42,12179.82,13934.34,8551.44,10249.62,17977.39,13921.02,15555.79,2186261.74,2900387.72,1827587.36,3342396.86,0.0,0.0,0.0,585475.46,1.094463e+07
09-2022,17998.05,47818.51,45413.92,7429.25,19118.34,48065.76,56276.69,27827.80,17326492.62,32939977.49,30218269.78,35441106.83,0.0,0.0,0.0,578433.75,1.167742e+08
10-2020,3159.53,2129.22,2459.74,971.84,1922.99,1464.09,1314.81,1485.61,171765.56,137046.93,94126.37,141599.66,0.0,0.0,0.0,263421.35,8.228677e+05
10-2021,7449.28,11121.95,6974.13,5872.26,8197.63,11146.63,6644.13,9242.55,1656852.71,2285235.73,968556.50,2472690.98,0.0,0.0,0.0,332345.65,7.782330e+06
10-2022,7944.48,18604.88,35549.85,8264.94,8851.20,27337.15,52200.78,21812.18,14902760.64,34162584.61,31921426.62,36648365.23,0.0,0.0,0.0,678039.72,1.184937e+08
11-2020,2604.48,2145.80,2207.98,949.78,1831.39,2086.59,2065.92,1762.40,177364.30,94399.63,66823.11,130185.75,0.0,0.0,0.0,116629.44,6.010566e+05
11-2021,3170.46,6900.72,3489.97,1729.49,2177.59,5499.61,5126.66,3490.01,1000247.79,1509974.24,627415.19,1337215.02,0.0,0.0,0.0,356898.98,4.863336e+06
11-2022,2030.06,4619.75,4454.36,1474.71,2503.36,4061.83,4039.64,5834.17,4359604.42,5134567.14,5359920.67,6338888.47,0.0,0.0,0.0,140595.49,2.136259e+07
12-2020,2534.56,2213.80,2861.32,1680.51,2900.59,2071.32,2683.22,2154.15,214778.89,96677.93,154846.93,245291.09,0.0,0.0,0.0,383123.07,1.113817e+06
12-2021,11729.46,16873.07,10291.16,9012.04,7357.93,14654.80,13362.61,16938.33,2580853.80,3305961.90,2419736.91,3122125.14,0.0,0.0,0.0,1438569.69,1.296747e+07

In [237]:
df_eixo = df_monthly_revenue.sum().round(2).to_frame()
df_eixo = df_eixo.round(2)
df_eixo.to_csv('eixo.csv', sep=";")